# Get this from your application the Discord Developer Portal https://discord.com/developers/applications
DISCORD_TOKEN=[]
# Get this from wherever your hosting your MongoDB database (ex. MongoDB Atlas)
MONGO_URI=[]

# Only include this if the bot is running in production (set by NODE_ENV)
# This is the api key you set in the voting server
STATS_API_KEY=[]
# This is the URL to the API endpoint where the guild count is posted on your voting server (ex. 123.456.789/api/v1/guilds)
STATS_API_URL=[]

# OPTIONAL: this is the api key for the giphy api, used for some bot owner commands
GIPHY=[]
# OPTIONAL: in production, set to "production". In development, do not set
NODE_ENV=[]
# OPTIONAL: include only if you want debug messages from discord.js and kurasuta
DEBUG=[]
