# Get this from your application the Discord Developer Portal https://discord.com/developers/applications
DISCORD_TOKEN=[]
# Get this from wherever your hosting your MongoDB database (ex. MongoDB Atlas)
MONGO_URI=[]
# This is the api key you set in the voting server
STATS_API_KEY=[]
# This is the URL to your instance of the bot's voting server
STATS_API_URL=api-server-url/api/v1/guilds
# OPTIONAL: this is the api key for the giphy api, used for some bot owner commands
GIPHY=[]
# OPTIONAL: in production, set to "production". In development, do not set
NODE_ENV=[]
# OPTIONAL: include only if you want debug messages from discord.js and kurasuta
DEBUG=[]
