# Packages
node_modules/
package-lock.json

# Log files
logs/
*.log

# Commands & Events
commands/commands/Bot\ Owner/beta.js
events/debug.js

# Miscellaneous
.tmp/
.vscode/
.eslintrc.json
nodemon.json
data/
.env